.relative.indent-header.bg-gray-dark
  #rev_slider_280_1_wrapper.rev_slider_wrapper.fullwidthbanner-container{:style => "margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;"}
    #rev_slider_280_1.rev_slider.fullwidthabanner{"data-version" => "5.1.4", :style => "display:none;"}
      %ul
        %li{"data-description" => "", "data-easein" => "default", "data-easeout" => "default", "data-index" => "rs-672", "data-masterspeed" => "default", "data-rotate" => "0", "data-saveperformance" => "off", "data-slotamount" => "default", "data-transition" => "fade"}
          %img.rev-slidebg{:alt => "", "data-bgfit" => "cover", "data-bgparallax" => "5", "data-bgposition" => "center center", "data-bgrepeat" => "no-repeat", :src => "/assets/theme/index6-3.jpg"}
            #slide-898-layer-1.tp-caption.font-poppins.font-white.tp-resizeme.rs-parallaxlevel-6{"data-fontsize" => "['70','70','62','52']", "data-fontweight" => "600", "data-height" => "none", "data-hoffset" => "['0','0','0','0']", "data-lineheight" => "['80','82','74','64']", "data-mask_in" => "x:0px;y:0px;", "data-mask_out" => "x:inherit;y:inherit;s:inherit;e:inherit;", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1050", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "y:[100%];s:1000;s:1000;", "data-voffset" => "['0','0','0','0']", "data-whitespace" => "nowrap", "data-width" => "none", "data-x" => "['center','center','center','center']", "data-y" => "['center','center','center','center']", :style => "z-index: 8; white-space: nowrap;"}
              Blog  News
        .tp-bannertimer.tp-bottom{:style => "visibility: hidden !important;"}
